@import '../base/fonts';

// font family
$font-family-300: SfProDisplay_f300, sans-serif;
$font-family-400: SfProDisplay_f400, sans-serif;
$font-family-500: SfProDisplay_f500, sans-serif;
$font-family-600: SfProDisplay_f600, sans-serif;

// colors
$primary-gold: #ffbe18;
$primary-white: #f1f1f1;

$secondary-white-grey: #7c7c7c;

$bg-black: #151618;
$bg-grey-black: #1d1d1e;
$bg-grey: #272727;
